@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');

body{
    font-family: 'Vidaloka', serif;
}

header, footer{
    text-align: center;
    background-color: #672337;
    color: white;
    width: 100%;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
}
footer{
    margin-top: 1em;
}

.weather-title{
    text-align: center;
}

nav{
    max-width: 100%;
    margin: auto;
    background-color: #E28190;
    text-align: center;
    padding: 1rem;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav ul li{
    min-width: 32%;
    background-color: #F4CED4;
    border: 1px solid #672337;
    text-align: center;
}

nav a{
    text-decoration: none;
    color: black;
    display: block;
    padding-top: .7em;
    padding-bottom: .7em;
}

nav a:hover{
    background-color: #672337;
    color: white;
}

.home-main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "hero"
                        "popular-drinks"
                        "drinks-ordered"
                        "weather";
}

.hero img{
    display: flex;
    height: 60%;
    border: 2px solid #672337;
    margin-top: .75em;
}

.hero{
    display: grid;
    grid-area: hero;
    justify-content: center;
    margin-top: 1em;
    height: 420px;
    background-color: #672337;
}

.weather{
    grid-area: weather;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.day-forecast{
    border: 2px solid #48617E;
    background-color: lightblue;
    min-height: 150px;
    margin: 1em;
}

.day-forecast p{
    margin: 0px;
}


.popular-drinks{
    display: grid;
    grid-area: popular-drinks;
}

.popular-drinks h2{
    text-align: center;
}

.popular{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 1em;
}

.drink_data{
    width: 32.3%;
}

.popular img{
    height: 250px;
}

.popular button{
    font-family: 'Vidaloka', serif;
    background-color: darkblue;
    color: white;
    padding: 1em;
}

.drinks-ordered{
    display: grid;
    grid-area: drinks-ordered;
    text-align: center;
    border: 2px solid #48617E;
    background-color: lightblue;
    padding: .5em;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
}

.join-main{
    padding: 1em;
}

.order-main{
    border: 2px solid #48617E;
    background-color: lightblue;
    padding: 1em;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1em;
}

form{
    border: 2px solid #48617E;
    background-color: lightblue;
    padding: 1em;
    justify-content: center;
    align-items: center;
}

.inputs{
    display: flex;
    flex-direction: column;
}

input, select{
    margin-bottom: 1em;
    padding: .5em;
}

select{
    text-align: center;
}

.order-button{
    font-family: 'Vidaloka', serif;
    background-color: darkblue;
    color: white;
    padding: .5em;
    display: block;
    width: 100%;;
}

.fruit-list{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 1em;
    margin-bottom: 1em;
    justify-content: center;
    align-items: center;
}