header, footer{
    text-align: center;
    background-color: #672337;
    color: white;
    width: 100%;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
}

nav{
    max-width: 100%;
    margin: auto;
    background-color: #E28190;
    text-align: center;
    padding: 1rem;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav ul li{
    min-width: 32%;
    background-color: #F4CED4;
    border: 1px solid #672337;
    text-align: center;
    padding-top: .7em;
    padding-bottom: .7em;
}

main{
    border: 1px solid #672337;
}

.color-palette{
    display: flex;
    flex-direction: row;
}

.navbar{
    background-color: #E28190;
    padding: 1em;
}

.navbar-links{
    background-color: #F4CED4;
    padding: 1em;
}

.navbar-active{
    background-color: #672337;
    color: white;
    padding: 1em;
}

.header-footer{
    background-color: #672337;
    color: white;
    padding: 1em;
}