.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
}

.card{
    display: grid;
    border: 1px solid black;
    width: fit-content;
    padding: 1em;
    margin: 1em;
}