
    body{
        display: grid;
        /*grid-template-columns: 1fr 1fr 1fr;*/
        grid-template-areas: "s0"
                            "s1"
                            "s2"
                            "s3"
                            "s4"
                            "s5"
                            "s6"
                            "s7";
    }

    header{
      display: grid;
      grid-area: s0;
      text-align: center;
      margin-bottom: 1em;

      background-color: darkblue;
      color: white;
    }

    footer{
      display: grid;
      grid-area: s7;
      text-align: center;

      background-color: darkblue;
      color: white;
    }

    #title1{
      display: grid;
      grid-area: s1;
      padding-left: 1em;
      padding-right: 1em;
      padding-top: .5em;
      padding-bottom: .5em;
      border-radius: 1em 1em 0em 0em;
      background-color: darkblue;
      color: white;
      margin-right: 0.5em;
      margin-left: 0.5em;
    }
  
    #section1 {
        display: grid;
        grid-area: s2;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: .5em;
        padding-bottom: .5em;
        border: 2px gray solid;
        background-color: lightgray;
        margin-bottom: 1em;
        margin-right: 0.5em;
        margin-left: 0.5em;
    }

    img{
      object-fit: cover;
      width: 100%;
    }

    #title2{
      display: grid;
      grid-area: s3;
      padding-left: 1em;
      padding-right: 1em;
      padding-top: .5em;
      padding-bottom: .5em;
      border-radius: 1em 1em 0em 0em;
      background-color: darkblue;
      color: white;
      margin-right: 0.5em;
      margin-left: 0.5em;
    }

    #section2 {
        display: grid;
        grid-area: s4;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: .5em;
        padding-bottom: .5em;
        border: 2px gray solid;
        background-color: lightgray;
        margin-bottom: 1em;
        margin-right: 0.5em;
        margin-left: 0.5em;
    }

    #title3{
      display: grid;
      grid-area: s5;
      padding-left: 1em;
      padding-right: 1em;
      padding-top: .5em;
      padding-bottom: .5em;
      border-radius: 1em 1em 0em 0em;
      background-color: darkblue;
      color: white;
      margin-right: 0.5em;
      margin-left: 0.5em;
    }
  
    #section3 {
        display: grid;
        grid-area: s6;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: .5em;
        padding-bottom: .5em;
        border: 2px gray solid;
        background-color: lightgray;
        margin-bottom: 1em;
        margin-right: 0.5em;
        margin-left: 0.5em;
    }
  

