@media screen and (min-width: 600px){
    body{
        display: grid;
        /*grid-template-columns: 1fr 1fr 1fr;*/
        grid-template-areas: "s1 s2"
                         "s3 s3";
        background-color: lightblue;
    }

    #section1 {
        text-align: center;
        display: grid;
        grid-area: s3;
    }

    #section2 {
        text-align: center;
        display: grid;
        grid-area: s1;
    }

    #section3 {
        text-align: center;
        display: grid;
        grid-area: s2;
    }
}