@media (min-width: 1300px){        
    nav {
        margin: auto;
        padding: 1rem;
    }
    
    nav ul li:hover{
        background-color: #CF920E;
    }
    
    nav ul {
        display: flex;
        flex-direction: row;
        list-style: none;  
    }
      
    nav ul li {
        min-width: 20%;
        padding-top: 1em;
        padding-bottom: 1em;
        border: .5px solid white;
        margin-bottom: .1em;
        background-color: #E89F00;
        color: black;
    }
    
    nav a {
        display: block;
        text-decoration: none;
        color: black;
      }
    
    main {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: "event hero hero spotlights"
                            "weather hero hero spotlights"
                            "join news news spotlights";
        grid-gap: 1em;

    }
  

  .hero-image picture{
    display: flex;
    grid-area: hero;
    margin: 0em;
    padding: 0em;
    border: 2px gray solid;
  }

  .hero{
    position: relative;
    max-width: 100%;
  }

  .hero-image img{
    max-width: 100%;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 25%;
    left: 30%;
    color: #560216;
  }
    
    .event{
        display: block;
        grid-area: event;
        padding: 1em;
        margin-left: 1em;
        margin-top: 0em;
    }
    
    .event img{
        width: 150px;
    }
    
    .weather{
        display: block;
        grid-area: weather;
        padding: 1em;
        margin-left: 1em;
    }
    
    .news{
        display: block;
        grid-area: news;
        padding: 1em;
        margin-top: 2em;
    }
    
    .spotlights{
        display: block;
        grid-area: spotlights;
        padding: 1em;
        margin-right: 1em;
    }
    
    .spotlight1{
        display: block;
        padding: 1em;
        width: auto;
    }
    
    .spotlight2{
        display: block;
        padding: 1em;
        width: auto;
    }
    
    .spotlight3{
        display: block;
        border: 2px gray solid;
        background-color: lightgray;
        padding: 1em;
    }
    
    .join{
        display: block;
        grid-area: join;
        padding: 1em;
        margin-left: 1em;
    }

    .join img{
        height: 150px;
    }

/*hamburger menu*/
#hamburger-menu {
    display: none;
  }
  
#navbar{
    display: flex;
    flex-direction: row;
  }

  #navbar.menu-active{
    display: flex;
    flex-direction: row;
}

main{
    border: 1px solid black;
    padding: 1em;
}

form{
    display: block;
    margin-left: 50px;
    border: 1px solid darkred;
    padding: 1em;
}

.member_info{
    display: block;
    margin-left: 50px;
    border: 1px solid gold;
    padding: 1em;
}
.thanks{
    text-align: center;
}
}