@media (min-width: 1300px){
    .header_img, .footer_img{
        height: 120px;
    }
    
    #today{
        border: 1px solid white;
        display: block;
        text-align: center;
        padding: 0.5rem;
        font-size: 18px;
    }
    
    header, footer{
        padding: 1em;
        color: white;
        text-align: center;
    }
    
    header{
        margin-bottom: 1em;
    }
    
    nav {
        padding: 1rem;
        margin-right: 50px;
    }
    
    nav ul li:hover{
        background-color: #CF920E;
    }
    
    nav ul {
        display: flex;
        flex-direction: row;
        list-style: none;  
    }
      
    nav ul li {
        min-width: 20%;
        padding-top: 1em;
        padding-bottom: 1em;
        border: 1.5px solid white;
        background-color: #E89F00;
    }
    
    nav a {
        display: block;
        text-decoration: none;
        color: black;
      }
    
    footer {
        margin-top: 1em;
        display: grid;
        grid-template-areas: "image part1 part2"
                            "bottom bottom bottom";
        align-items: center;
    }
    
    .footer_img{
        display: grid;
        grid-area: image;
    }
    
    .part1{
        display: grid;
        grid-area: part1;
        text-align: center;
    }
    
    .part2{
        display: grid;
        text-align: center;
        grid-area: part2;
    }
    
    main {
        font-style: italic;
        display: grid;
        grid-template-areas: "event hero hero spotlights"
                            "weather hero hero spotlights"
                            "join news news spotlights";
        grid-gap: 1em;
    }
    
    .hero{
        display: block;
        grid-area: hero;
        padding: 1em;
    }
    
    .event{
        display: block;
        grid-area: event;
        padding: 1em;
        margin-left: 1em;
    }
    
    .weather{
        display: block;
        grid-area: weather;
        padding: 1em;
        margin-left: 1em;
    }
    
    .news{
        display: block;
        grid-area: news;
        padding: 1em;
    }
    
    .spotlights{
        display: block;
        grid-area: spotlights;
        padding: 1em;
        margin-right: 1em;
    }
    
    .spotlight1{
        display: block;
        padding: 1em;
        width: auto;
    }
    
    .spotlight2{
        display: block;
        padding: 1em;
        width: auto;
    }
    
    .spotlight3{
        display: block;
        border: 2px gray solid;
        background-color: lightgray;
        padding: 1em;
    }
    
    .join{
        display: block;
        grid-area: join;
        padding: 1em;
        margin-left: 1em;
    }
    
    .bottom-footer {
        width: 100%;
        display: grid;
        grid-area: bottom;
        height: 30px;
    }

/*hamburger menu*/
#hamburger-menu {
    display: none;
  }
  
#navbar{
    display: flex;
    flex-direction: row;
  }
}