@media (min-width: 1300px){        
    nav {
        margin: auto;
        padding: 1rem;
    }
    
    nav ul li:hover{
        background-color: #CF920E;
    }
    
    nav ul {
        display: flex;
        flex-direction: row;
        list-style: none;  
    }
      
    nav ul li {
        min-width: 20%;
        padding-top: 1em;
        padding-bottom: 1em;
        border: .5px solid white;
        margin-bottom: .1em;
        background-color: #E89F00;
        color: black;
    }
    
    nav a {
        display: block;
        text-decoration: none;
        color: black;
      }
    
    main {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: "event hero hero spotlights"
                            "weather hero hero spotlights"
                            "join news news spotlights";
        grid-gap: 1em;

    }

    /* The hero image */
    /*
.hero-image {
    grid-area: hero; */
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    /*background-image: url("../images/Leroy_Town.png");*/
  
    /* Position and center the image to scale nicely on all screens */
    /*
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }*/
  

  picture.hero-image{
    display: flex;
    grid-area: hero;
    margin: 0em;
    padding: 0em;
    width: fit-content;
    height: fit-content;
    position: absolute;
  }
  
  /* Place text in the middle of the image */
  .hero-text, .sign_up {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #560216;
  }
    
    .event{
        display: block;
        grid-area: event;
        padding: 1em;
        margin-left: 1em;
        margin-top: 0em;
    }
    
    .event img{
        width: 150px;
    }
    
    .weather{
        display: block;
        grid-area: weather;
        padding: 1em;
        margin-left: 1em;
    }
    
    .news{
        display: block;
        grid-area: news;
        padding: 1em;
        margin-top: 2em;
    }
    
    .spotlights{
        display: block;
        grid-area: spotlights;
        padding: 1em;
        margin-right: 1em;
    }
    
    .spotlight1{
        display: block;
        padding: 1em;
        width: auto;
    }
    
    .spotlight2{
        display: block;
        padding: 1em;
        width: auto;
    }
    
    .spotlight3{
        display: block;
        border: 2px gray solid;
        background-color: lightgray;
        padding: 1em;
    }
    
    .join{
        display: block;
        grid-area: join;
        padding: 1em;
        margin-left: 1em;
    }

    .join img{
        height: 150px;
    }

/*hamburger menu*/
#hamburger-menu {
    display: none;
  }
  
#navbar{
    display: flex;
    flex-direction: row;
  }

  #navbar.menu-active{
    display: flex;
    flex-direction: row;
}
}