@media (min-width: 1300px){        
    nav {
        margin: auto;
        padding: 1rem;
    }
    
    nav ul li:hover{
        background-color: #CF920E;
    }
    
    nav ul {
        display: flex;
        flex-direction: row;
        list-style: none;  
    }
      
    nav ul li {
        min-width: 20%;
        padding-top: 1em;
        padding-bottom: 1em;
        border: .5px solid white;
        margin-bottom: .1em;
        background-color: #E89F00;
        color: black;
    }
    
    nav a {
        display: block;
        text-decoration: none;
        color: black;
      }
    
    main {
        grid-template-areas: "event hero hero spotlights"
                            "weather hero hero spotlights"
                            "join news news spotlights";
        grid-gap: 1em;
    }
    
    .hero{
        grid-area: hero;
        padding: 1em;
        position: relative;
    }

    .hero img{
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
    }
    
    .event{
        display: block;
        grid-area: event;
        padding: 1em;
        margin-left: 1em;
    }
    
    .event img{
        width: 350px;
    }
    
    .weather{
        display: block;
        grid-area: weather;
        padding: 1em;
        margin-left: 1em;
    }
    
    .news{
        display: block;
        grid-area: news;
        padding: 1em;
    }
    
    .spotlights{
        display: block;
        grid-area: spotlights;
        padding: 1em;
        margin-right: 1em;
    }
    
    .spotlight1{
        display: block;
        padding: 1em;
        width: auto;
    }
    
    .spotlight2{
        display: block;
        padding: 1em;
        width: auto;
    }
    
    .spotlight3{
        display: block;
        border: 2px gray solid;
        background-color: lightgray;
        padding: 1em;
    }
    
    .join{
        display: block;
        grid-area: join;
        padding: 1em;
        margin-left: 1em;
    }

    .join img{
        height: 150px;
    }

/*hamburger menu*/
#hamburger-menu {
    display: none;
  }
  
#navbar{
    display: flex;
    flex-direction: row;
  }

  #navbar.menu-active{
    display: flex;
    flex-direction: row;
}
}