main{
    padding: 1em;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "form"
                        "member_info";
}

form{
    display: grid;
    grid-area: form;
    border: 2px gray solid;
    background-color: lightgray;
    padding: 1em;
}
.member_info{
    display: grid;
    grid-area: member_info;
    border: 2px gray solid;
    background-color: lightgray;
    padding: 1em;
}

.thanks{
    text-align: center;
    padding: 5rem;
    margin-top: -14px;
}

.join-button{
    background-color: #560216;
    color: white;
}

@media (min-width: 600px){
    main{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "form member_info";
    }
}


