main {
    font-style: italic;
    display: grid;
    grid-template-areas: "hero"
                        "event"
                        "weather"
                        "news"
                        "spotlights"
                        "spotlights";
    grid-gap: .5em;
}

    .hero-image{
    display: grid;
    grid-area: hero;
    margin: 0em;
    padding: 0em;
    width: fit-content;
    height: fit-content;
    border: 2px gray solid;
  }

  .hero-text, .sign_up {
    display: block;
    grid-area: hero;
    text-align: center;
    position: relative;
    color: #560216;
  }

  .hero{
    position: relative;
    display: grid;
    grid-area: hero;
    padding: 1em;
  }

  .hero-img img{
    max-width: 100%;
  }

  .hero-text {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 1%;
    color: #560216;
  }

  .hero-image picture{
    display: flex;
    grid-area: hero;
    margin: 0em;
    padding: 0em;
    border: 2px gray solid;
  }

  .hero{
    position: relative;
  }

  .hero-img img{
    max-width: 100%;
  }
  
  
.sign_up {
    padding: .5em;
    background-color: #E89F00;
    width: fit-content;
}

.sign_up:hover{
    background-color: #CF920E;
}

.event{
    display: block;
    grid-area: event;
    border: 2px gray solid;
    background-color: lightgray;
    padding: 1em;
    min-height: 150px;
    margin-top: 2em;
}

.weather{
    display: flex;
    grid-area: weather;
    border: 2px gray solid;
    background-color: lightgray;
    padding: 1em;
    min-height: 150px;
    position: relative;
}

.weather img{
    width: 350px;
}

.news{
    display: block;
    grid-area: news;
    border: 2px gray solid;
    background-color: lightgray;
    padding: 1em;
    min-height: 150px;
}

.spotlights{
    display: flex;
    grid-area: spotlights;
    flex-direction: column;
    padding: 1em;
    border: 2px gray solid;
    background-color: lightgray;
}

.spotlight1{
    display: block;
    border: 2px gray solid;
    background-color: lightgray;
    padding: 1em;
    min-height: 150px;
}

.spotlight2{
    display: block;
    border: 2px gray solid;
    background-color: lightgray;
    padding: 1em;
    min-height: 150px;
}

.spotlight3{
    display: none;
    min-height: 150px;
}

.join{
    display: none;
    min-height: 150px;
}

/* lazy loading */

.leroy-sites picture img{
  filter: blur(0.0em);
  width: 300px;
}

.leroy-sites picture img[data-src]{
  filter: blur(0.5em);
  margin-bottom: 0em;
}

.leroy-sites{
  transition: filter .5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.leroy-sites p{
  width: 300px;
  padding-bottom: 1em;
}

form {
  margin-left: 1em;
}
