@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
/*
potential background color: #560216 
potential Nav color: #E89F00
*/
body {
  font-family: 'Playfair Display', serif;
}

.header_img, .footer_img{
    float: left;
    height: 150px;
    padding: 5px;
}

.facebook_logo, .instagram_logo{
    float: right;
    height: 35px;
    padding-top: 60px;
    padding-right: 10px;
}

#today{
    background-color: #E89F00;
    border: 1px solid white;
    display: block;
    text-align: center;
    padding: 0.5rem;
    font-size: 18px;
    color: black;
}

header, footer{
    background-color: #560216;
    padding: 1em;
    color: white;
    text-align: center;
}

header{
    margin-bottom: 1em;
}

nav {
    margin: auto;
    padding: 1rem;
}

nav ul li:hover{
    background-color: #CF920E;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;  
}
  
nav ul li {
    min-width: 20%;
    padding-top: 1em;
    padding-bottom: 1em;
    border: .5px solid white;
    margin-bottom: .1em;
    background-color: #E89F00;
    color: black;
}

nav a {
    display: block;
    text-decoration: none;
    color: black;
  }

footer {
    margin-top: 1em;
    display: grid;
    grid-template-areas: "image part1 part2"
                        "bottom bottom bottom";
    align-items: center;
}

.footer_img{
    display: grid;
    grid-area: image;
}

.part1{
    display: grid;
    grid-area: part1;
    text-align: center;
}

.part2{
    display: grid;
    text-align: center;
    grid-area: part2;
}

main {
    font-style: italic;
    display: grid;
    grid-template-areas: "hero"
                        "event"
                        "weather"
                        "news"
                        "spotlights"
                        "spotlights";
    grid-gap: .5em;
}

.hero{
    display: block;
    grid-area: hero;
    border: 2px gray solid;
    background-color: lightgray;
    padding: 1em;
}

.event{
    display: block;
    grid-area: event;
    border: 2px gray solid;
    background-color: lightgray;
    padding: 1em;
}

.weather{
    display: block;
    grid-area: weather;
    border: 2px gray solid;
    background-color: lightgray;
    padding: 1em;
}

.news{
    display: block;
    grid-area: news;
    border: 2px gray solid;
    background-color: lightgray;
    padding: 1em;
}

.spotlights{
    display: flex;
    grid-area: spotlights;
    flex-direction: column;
    padding: 1em;
    border: 2px gray solid;
    background-color: lightgray;
}

.spotlight1{
    display: block;
    border: 2px gray solid;
    background-color: lightgray;
    padding: 1em;
}

.spotlight2{
    display: block;
    border: 2px gray solid;
    background-color: lightgray;
    padding: 1em;
}

.spotlight3{
    display: none;
}

.join{
    display: none;
}

.bottom-footer {
    width: 100%;
    display: grid;
    grid-area: bottom;
    height: 30px;
}

/*Hamburger Menu Stuff*/
#hamburger-menu {
    background-color: #560216;
    font-size: 2rem;
    color: white;
    border: 1px solid white;
    float: right;
  }
  
  #navbar{
    display: none;
  }
  
  #menu-open{
    display: none;
  }
  
  #menu-close{
    display: inline;
  }
  
  #navbar.menu-active{
    display: flex;
    flex-direction: column;
  }
  
  #menu-open.menu-active{
    display: inline;
  }
  
  #menu-close.menu-active{
    display: none;
  }