.header_img, .footer_img{
    float: left;
    height: 250px;
    padding: 5px;
}

#today{
    background-color: gray;
    border: 1px solid white;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 10em;
    padding-right: 10em;
    max-width: 100%;
}

header, footer{
    background-color: dimgray;
    padding: 1em;
    color: white;
    text-align: center;
}

nav {
    margin: auto;
    padding: 1rem;
  }

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;  
}
  
nav ul li {
    text-align: center;
    min-width: 20%;
}

main {
    font-style: italic;
}

.hero{
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    border: 2px darkgray solid;
    background-color: lightgray;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    height: 200px;
}

.event{
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    border: 2px darkgray solid;
    background-color: lightgray;
    margin-bottom: 1em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    height: 200px;
}

.weather{
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    border: 2px gray solid;
    background-color: lightgray;
    margin-bottom: 1em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    height: 200px;
}

.news{
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    border: 2px gray solid;
    background-color: lightgray;
    margin-bottom: 1em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    height: 200px;
}

.spotlights{
    padding: 1em;
    border: 2px gray solid;
    background-color: lightgray;
    margin-bottom: 1em;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.spotlight1{
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    border: 2px gray solid;
    background-color: lightgray;
    margin-right: 0.5em;
    margin-left: 0.5em;
    height: 200px;
}

.spotlight2{
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    border: 2px gray solid;
    background-color: lightgray;
    margin-right: 0.5em;
    margin-left: 0.5em;
    height: 200px;
}

.spotlight3{
    display: none;
}

.join{
    display: none;
}