@media (min-width: 600px){
    .header_img, .footer_img{
        height: 120px;
    }

    .social_logo{
        float: right;
        height: 35px;
        padding-top: 60px;
        padding-right: 10px;
    }
    
    #today{
        border: 1px solid white;
        display: block;
        text-align: center;
        padding: 0.5rem;
        font-size: 18px;
    }
    
    header, footer{
        padding: 1em;
        color: white;
        text-align: center;
    }
    
    header{
        margin-bottom: 1em;
    }
    
    nav {
        margin: auto;
        padding: 1rem;
    }
    
    nav ul {
        display: flex;
        flex-direction: row;
        list-style: none;  
    }
      
    nav ul li {
        min-width: 20%;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    
    nav a {
        display: block;
        text-decoration: none;
        color: black;
      }
    
    footer {
        margin-top: 1em;
        display: grid;
        grid-template-areas: "image part1 part2"
                            "bottom bottom bottom";
        align-items: center;
    }
    
    .footer_img{
        display: grid;
        grid-area: image;
    }
    
    .part1{
        display: grid;
        grid-area: part1;
        text-align: center;
    }
    
    .part2{
        display: grid;
        text-align: center;
        grid-area: part2;
    }
    
    main {
        font-style: italic;
        display: grid;
        grid-template-areas: "hero hero hero"
                            "news news news"
                            "spotlights spotlights spotlights"
                            "join join join"
                            "event event weather";
        grid-gap: .5em;
    }
    
    .hero{
        display: block;
        grid-area: hero;
        padding: 1em;
    }
    
    .event{
        display: block;
        grid-area: event;
        padding: 1em;
    }
    
    .weather{
        display: block;
        grid-area: weather;
        padding: 1em;
    }
    
    .news{
        display: block;
        grid-area: news;
        padding: 1em;
    }
    
    .spotlights{
        grid-area: spotlights;
        display: flex;
        flex-direction: row;     
        padding: 1em;
    }
    
    .spotlight1{
        padding: 1em;
        width: 50%;
    }
    
    .spotlight2{
        padding: 1em;
        width: 50%;
    }
    
    .spotlight3{
        display: none;
    }
    
    .join{
        display: block;
        grid-area: join;
        padding: 1em;
        border: 2px gray solid;
        background-color: lightgray;
    }
    
    .bottom-footer {
        width: 100%;
        display: grid;
        grid-area: bottom;
        height: 30px;
    }
}