@media (min-width: 600px){
    .social_logo{
        margin-top: 60px;
        padding-right: 10px;
    }
    
    main {
        grid-template-areas: "hero hero hero"
                            "news news news"
                            "spotlights spotlights spotlights"
                            "join join join"
                            "event event weather";
    }
    
    .hero{
        display: grid;
        grid-area: hero;
        padding: 1em;
    }

    .hero-text {
        text-align: center;
        position: absolute;
        top: 40%;
        left: 20%;
        color: #560216;
      }
    
    .event{
        display: block;
        grid-area: event;
        padding: 1em;
        margin-top: 0em;
    }
    
    .weather{
        display: block;
        grid-area: weather;
        padding: 1em;
    }
    
    .news{
        display: block;
        grid-area: news;
        margin-top: 2em;
    }
    
    .spotlights{
        grid-area: spotlights;
        display: flex;
        flex-direction: row;     
        padding: 1em;
    }
    
    .spotlight1{
        padding: 1em;
        width: 50%;
    }
    
    .spotlight2{
        padding: 1em;
        width: 50%;
    }
    
    .spotlight3{
        display: none;
    }
    
    .join{
        display: block;
        grid-area: join;
        padding: 1em;
        border: 2px gray solid;
        background-color: lightgray;
    }

    .leroy-sites picture img:hover{
        box-shadow: 5px 5px 5px 5px #560216;
    }
}